* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 200px;
    max-width: 800px;
}

a {
    color: #fff;
    text-decoration: none;
}

/*nav bar*/
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: linear-gradient(to right, #075d8e 0%, #0a7ec1 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 30px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.ativo a {
    color: #7cf03d;
}

/* lista de palavras */

.logo-img {

    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;

}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: write;
    font-weight: bold;
}



/* lista de palavras */

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #283421;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #283421;
}

#lista-palavras {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 600px;
    justify-content: center;
}

.palavra-item {
    border: 2px solid #D6C4A7;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 600;
    background-color: #283421;
    color: #D6C4A7;
    transition: all 0.3s ease;
}

.palavra-item:hover {
    background-color: #e8fce8;
    transform: scale(1.05);
    cursor: pointer;
}

/*botao reset*/

.buttons{
    margin-top: -160px;
}

#resetar-button {
    background-color: #283421;
    color: #D6C4A7;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #D6C4A7; 
}

#resetar-button:hover{
    background-color: #283421;
    
}

/* grade */

#grade, td {
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;     
  }
  

#grade{
    border-collapse: collapse;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

#grade td{
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  border: 1px solid #ddd;
  transition: 0.3s ease;
  cursor: pointer;
}

#grade tr{
    background-color: #f9fff9;
    transition: all 0.3s ease;
    
}

#grade td:hover{
    background-color: #e3f2fd;
}

td.selecionado {
    background-color: #e8fce8; 
    color: #333; 
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Caixa de feedback */
#feedback-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #283421;
    color: #D6C4A7;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 35px; 
    width: 300px; 
    display: none; 
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #D6C4A7; 
}


/* Estilo para a frase dentro do feedback */
#feedback-box p {
    word-wrap: break-word; 
    white-space: normal; 
}

/* Botão de fechar (X) */
#close-feedback {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: transparent;
    border: none;
}

#close-feedback:hover {
    color: #f1f1f1;
}


  

